/* Post.css */
.post-container {
    border: 1px solid #ddd;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }
  
  .post-container h2 {
    color: #333;
  }
  
  .post-container p {
    color: #666;
  }

  .colored-icon-container {
    color: rgb(0, 183, 255); /* Set the color in your CSS file */
    margin-left: 10px;
  }
  
  .heading{
    margin-right: '10px'
  }